/* font-family: 'Work Sans', sans-serif; */

/* Custom Properties */

:root {
    --clr-primary: #F70058;
    --clr-dark: #0C0E36;
    --clr-light: #fff;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

header {
  background-color: var(--clr-light);
  text-align: center;
}



/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.nav-list {
 
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* margin-top: 1em; */
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav-link {
  text-decoration: none;
  color: inherit
}

.logo {
  margin-top: 1em;
}
.info {
  font-weight: var(--fw-normal);
  margin: 1.5em 0 3em 0;
}

.title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 3rem;
  margin-bottom: 0;
}
.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.weather-icon {
  grid-row: span 2;
  align-items: center;
  background: var(--clr-primary);
  padding: 1rem;
  display: flex;
}

.weather-info {
  margin: 0 .75rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  opacity: 1;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75rem;
  display: flex;
  align-items: center;
}


.weather-info span {
  color: var(--clr-light);
  margin-left: auto;
  margin-right: .75rem;
  font-size: 1rem;
  text-transform: none;
}

.weather-info:first-of-type {
  margin-top: .5rem;
  margin-bottom: .5rem;
  position: relative;
}

/* divider line */
.weather-info:first-of-type::after {
  content: '';
  position: absolute;
  margin-top: .5em;
  background-color: var(--clr-light);
  opacity: .25;
  height: 3px;
  width: calc(100% - .75rem);
  bottom: -.25rem;
}

.weather-info:last-of-type {
  margin-top: .5em;
}


.btn {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: .5rem 1.25em;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: var(--fw-bold);
  margin-bottom: .75em;
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
}
 
.btn-primary {
/* Seasons Pass */
background: var(--clr-primary);
color: var(--clr-light);
border: none;

}

.btn-primary:hover {
  /* Seasons Pass */
  background: var(--clr-dark);
  outline-color: var(--clr-dark);
  color: var(--clr-light);
  }

.btn-outline {
/* Get tickets */
color: var(--clr-primary);
border: none;
}

.btn-outline:hover {
  /* Get tickets */
  background-color: var(--clr-dark);
  color: var(--clr-light);
  outline-color: var(--clr-dark);
  }

.main {
  padding: 3em 1em 5rem;
}

@media (min-width: 500px){
  .main {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) 
    minmax(20rem, 45ch) minmax(1em, 3fr);
    justify-items: start;
  }
  
  .main > * {
    grid-column: 2 / 3;
  }

  .main-ski {
    background-position: left bottom;
  }
}

@media min-width: 1200px {
  .main-ski {
    background-position: center left;
  }
}



.main-ski {
background-image: url(/images/sebastian-staines-xZIFEPtRsRI-unsplash\ 1.png);
background-size: cover;
}
